<?xml version="1.0" encoding="UTF-8"?>

<config>
	<modules>
		<DnsToolsIt_PerfTestManager>
			<version>0.1.7</version>
		</DnsToolsIt_PerfTestManager>
	</modules>
	<global>
		
		<blocks>
            <perftestmanager>
                <class>DnsToolsIt_PerfTestManager_Block</class>
            </perftestmanager>
        </blocks>
        <helpers>
            <perftestmanager>
                <class>DnsToolsIt_PerfTestManager_Helper</class>
            </perftestmanager>
        </helpers>
        
        <models>
			<perftestmanager>
                <class>DnsToolsIt_PerfTestManager_Model</class>
                <resourceModel>perftestmanager_mysql4</resourceModel>
            </perftestmanager>
            <perftestmanager_mysql4>
                <class>DnsToolsIt_PerfTestManager_Model_Mysql4</class>
                <entities>
                    <perftestmanager>
                        <table>perftestmanager</table>
                    </perftestmanager>
                </entities>
            </perftestmanager_mysql4>
	    </models>
	    <models>
			<statsinfo>
                <class>DnsToolsIt_PerfTestManager_Model</class>
                <resourceModel>statsinfo_mysql4</resourceModel>
            </statsinfo>
            <statsinfo_mysql4>
                <class>DnsToolsIt_PerfTestManager_Model_Mysql4</class>
                <entities>
                    <statsinfo>
                        <table>statsinfo</table>
                    </statsinfo>
                </entities>
            </statsinfo_mysql4>
	    </models>
        <models>
            <users>
                <class>DnsToolsIt_PerfTestManager_Model_Datpool</class>
                <resourceModel>datapoolusers_mysql4</resourceModel>
            </users>
            <datapoolusers_mysql4>
                <class>DnsToolsIt_PerfTestManager_Model_Mysql4</class>
                <entities>
                    <datapoolusers>
                        <table>pt_users</table>
                    </datapoolusers>
                </entities>
            </datapoolusers_mysql4>
        </models>
         <models>
            <products>
                <class>DnsToolsIt_PerfTestManager_Model_Datpool</class>
                <resourceModel>datapoolproducts_mysql4</resourceModel>
            </products>
            <datapoolproducts_mysql4>
                <class>DnsToolsIt_PerfTestManager_Model_Mysql4</class>
                <entities>
                    <datapoolproducts>
                        <table>pt_products</table>
                    </datapoolproducts>
                </entities>
            </datapoolproducts_mysql4>
        </models>
        <models>
            <orders>
                <class>DnsToolsIt_PerfTestManager_Model_Datpool</class>
                <resourceModel>datapoolorders_mysql4</resourceModel>
            </orders>
            <datapoolorders_mysql4>
                <class>DnsToolsIt_PerfTestManager_Model_Mysql4</class>
                <entities>
                    <datapoolorders>
                        <table>pt_orders</table>
                    </datapoolorders>
                </entities>
            </datapoolorders_mysql4>
        </models>
		 <resources>
            <perftestmanager_setup>
                <setup>
                    <module>DnsToolsIt_PerfTestManager</module>
		    		<class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
	    	</perftestmanager_setup>	
	    	<statsinfo_setup>
                <setup>
                    <module>DnsToolsIt_PerfTestManager</module>
		    		<class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
	    	</statsinfo_setup>	
		</resources>
    </global>
	
 <admin>
	 <routers>
	   <adminhtml>
	     <args>
	       <modules>
	         <perftestmanager before="Mage_Adminhtml">DnsToolsIt_PerfTestManager_Adminhtml</perftestmanager>
	       </modules>
	     </args>
	   </adminhtml>
       
	 </routers>
</admin> 

<adminhtml>
        <layout>
            <updates>
                <perftestmanager>
                    <file>perftestmanager.xml</file>
                </perftestmanager>
            </updates>
        </layout>
        
        <translate>
            <modules>
                <DnsToolsIt_PerfTestManager>
                     <files>
                          <default>DnsToolsIt_PerfTestManager.csv</default>
                     </files>
                </DnsToolsIt_PerfTestManager>
            </modules>
        </translate>
        
         <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <perftestmanager>
                                        <title>PerfTestManager - All</title>
                                    </perftestmanager>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    	</acl>
</adminhtml>


<frontend>
    <events>
	 <customer_login>
            <observers>
                <DnsToolsIt_perftestmanager>
                    <type>model</type>
                    <class>DnsToolsIt_PerfTestManager_Model_Observer</class>
                    <method>saveLoginTime</method>
                </DnsToolsIt_perftestmanager>
            </observers>
     </customer_login>
     
     <customer_session_init>
     	  <observers>
                <DnsToolsIt_perftestmanager>
                    <type>model</type>
                    <class>DnsToolsIt_PerfTestManager_Model_Observer</class>
                    <method>saveSessionInit</method>
                </DnsToolsIt_perftestmanager>
            </observers>
     </customer_session_init>
     
    </events>
  </frontend>
	
</config>




  

